body {
    display: flex;
    justify-content: center;
    background-color: black;
}
canvas {
    /* This fixes everything! */
    image-rendering: pixelated;

    width: 600px;
    height: 600px;
}

.spriteSheet {
    display:none;
}